{% extends "::base.html.twig" %}

{% block title %}MeAppProductBundle:Product:show{% endblock %}

{% block body %}
<h1>Welcome to the Product:show page</h1>

<p>Name: {{ product.name }}</p>
<p>Content: {{ product.content }}</p>
{% endblock %}
